body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    color: #333;
}

#hangman-canvas {
    margin-top: 30px;
    border: 1px solid #333;
    background-color: #fff;
}

#word-container {
    margin-top: 20px;
    font-size: 24px;
}

#guesses-container {
    margin-top: 30px;
}

#previous-guesses {
    font-size: 16px;
    font-weight: bold;
}

#input-container {
    margin-top: 30px;
}

#guess-input {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#guess-button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

#guess-button:hover {
    background-color: #45a049;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

